@using Microsoft.AspNetCore.Identity
@using Student_Teacher_Question_Answer_Platform.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("moderator"))
        {
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">Moderator</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"  asp-page="/User">Profile</a></li>
                    <li><hr class="dropdown-divider" /> </li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
        else if (User.IsInRole("student"))
        {
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">Student</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"  asp-page="/User">Profile</a></li>
                    <li><hr class="dropdown-divider" /> </li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
        else if (User.IsInRole("teacher"))
        {
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">Teacher</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"  asp-page="/User">Profile</a></li>
                    <li><hr class="dropdown-divider" /> </li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
