@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="/Teacher">Teacher</a>
<a asp-page="/User">User</a>
<br />
<li class="m-2">
    <a class="btn btn-primary" asp-page="/QuestionCreate">QuestionCreate</a>
    <a class="btn btn-primary" asp-page="/ProductCreate">ProductCreate</a>
</li>

<h1>Questions</h1>

